[submodule "Editor/python_command_line_helpers"]
	path = Editor/python_command_line_helpers
	url = https://github.com/JohnnyHowe/python-command-line-helpers
[submodule "Editor/python_command_runner"]
	path = Editor/python_command_runner
	url = https://github.com/JohnnyHowe/python-command-runner
